html {
    font-family: 'Share Tech', sans-serif;
    overflow-y:scroll;
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2016/06/03/12/42/popcorn-1433326_960_720.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color;
    background-color: rgba(0,0,0,.5);
    color: white;
}

.container-principal {
    width: 80%;
    margin: 0 auto;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    padding: 5px 0 0 0;
    width: 100%;
    margin-bottom: 1rem;
}

h1 {
    background-color: rgba(0, 0, 0, .8);
    background-size: 50% auto;
    border-radius: 10px;
    color: white;
    padding: 15px 20px;
}

main {

}

label {
    font-size: 20px;
    font-weight: 400;
}

.lista{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 0;
    //background-color: white;
    border-radius: 5px;

}

.item-lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.8);
}

.breadcrumb {
    background-color: transparent;
    padding-left: 0 !important;
}

.breadcrumb-item {
    color: white !important;
    background-color: black;
    background-color: rgba(0, 0, 0, .8);
    padding: 15px 20px;
}

.breadcrumb-item:first-child {
    padding-right: 0;
    border-radius: 10px 0 0 10px;
}

.breadcrumb-item:last-child {
    padding-left: 0;
    border-radius: 0 10px 10px 0;
}

a{
    color: white;
}

a:hover{
    color: orange;
}
