html, body {
    font-family: 'Share Tech', sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2020/11/20/00/08/clapperboard-5760216_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: white;
}

.container-principal {
    width: 30%;
    padding: 15px 30px;
    margin-right: auto;
    margin-left: auto;
}

main {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(0,0,0,.7);
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

h1 {
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, -10%);
    text-align: center;
    font-size: 3rem;
}

label{
    font-size: 20px;
    font-weight: 400;
}

.form-control{
}

.botoes{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.btn{
    width: 100%;
    margin-bottom: 10px;
}

span{
    display: flex;
    justify-content: center;
}

span>a{
    margin-left: 10px;
    color: rgba(200,200,200);
    text-decoration: underline;
}
a:hover{
    color: orange;
}
